/*-----------------
* [Master Stylesheet]
*
* Theme    : WillyWonka
* Version  : 1.0
* Author   : sujal
* 
------------------*/
::-webkit-scrollbar{
    width: 4px;
    color:#C69C2D;
}
::-webkit-scrollbar-thumb {
    background: #C69C2D; 
    border-radius: 4px;
    width: 4px;
  }
  #breaker{
      background-color: #C69C2D;
  }
  .color{
      color: #C69C2D;
  }
  #about-content a{
      color:#C69C2D ;
  }
  .cv a button{
      background: #C69C2D;
  }
  .service-img img{
    background: #C69C2D;
    box-shadow:0px 0px 0px 0px #C69C2D ;
  }
  .service:hover .service-img img{
    box-shadow:0px 0px 0px 400px #C69C2D ;
}
.html-progress{
    background: #C69C2D;
}
.js-progress{
    background: #C69C2D;
}
.adobe-progress{
    background: #C69C2D;
}
.php-progress{
    background: #C69C2D;
}
.jquery-progress{
    background: #C69C2D;
}
.seo-progress{
    background: #C69C2D;
}
.portfolio-text h2{
    color: #C69C2D;
}
.portfolio-text button{
    color: #C69C2D;
    border: 1.5px solid #C69C2D;
}
.portfolio-text button::before{
    background: #C69C2D;
}
.portfolio-image img::before{
    background: #C69C2D;
}
.blog-date{
    background: #C69C2D;
}
form button{
    background: #C69C2D;
}
@media all and (max-width: 550px) and (min-width: 5px){
    .service:hover .service-img img{
        box-shadow:0px 0px 0px 0px #C69C2D ;
    }
}